# sbt
# (may want to keep parts of 'project')
bin/
project/
target/
build/

# intellij idea
*.log
*.iml
*.ipr
*.iws
.idea

# other?
.history
.scala_dependencies
.cache
.cache-main

#general
*.class
*.out

# node
yarn.lock
node_modules

# Pyodide
src/main/resources/static/pyodide/*
!src/main/resources/static/pyodide/webworker.js

# Language server
.bloop
.metals