<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>SnipPy</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/style/app.css}"/>
    <link rel="shortcut icon" th:href="@{/favicon.png}" type="image/png"/>
</head>
<body>
<div class="container">
    <div class="card mt-5 offset-lg-1 col-lg-10 offset-xl-2 col-xl-8">
        <div class="card-body">
            <h1 class="card-title">SnipPy</h1>
            <h3 class="card-subtitle mb-4 text-muted">Small-Step Live Programming by Example</h3>
            <p class="card-text">
                <strong>SnipPy</strong> is an implementation of <em>Small-Step Live Programming By Example</em>,
                combining Live Programming (using Projection Boxes) with Programming by Example (using Bottom-up
                Enumerative Synthesis).
            </p>
            <p class="card-text">
                If you want to learn more, you can read about SnipPy in
                <a href="https://dl.acm.org/doi/10.1145/3379337.3415869" target="_blank">our paper</a>, and
                watch the talk at
                <a href="https://www.youtube.com/watch?v=6xmCPznThN8" target="_blank">UIST 2020</a>.
                If you're curious about Projection Boxes specifically,
                you can read about them <a href="https://cseweb.ucsd.edu/~lerner/pb/" target="_blank">here</a>.
            </p>
            <p class="card-text">
                The project source code is publicly available
	            <a href="https://github.com/kasraF/Snippy" target="_blank">on GitHub</a> and you can
                try it out in right now in any browser (except Safari) <a th:href="@{/editor}">here</a>.
	            Finally if you have any questions or would like to contribute, you can
	            <a href="mailto:kferdows@eng.ucsd.edu">email me</a> or make a pull-request.
            </p>
            <a th:href="@{/editor}" class="card-link">[Try SnipPy!]</a>
            <a href="https://dl.acm.org/doi/10.1145/3379337.3415869" class="card-link">[Paper]</a>
	        <a href="https://www.youtube.com/watch?v=6xmCPznThN8" class="card-link">[Video]</a>
            <a href="https://github.com/KasraF/SnipPy" class="card-link">[Source Code]</a>
            <a href="https://cseweb.ucsd.edu/~lerner/pb/" class="card-link">[Projection Boxes]</a>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" th:src="@{/webjars/popper.js/1.12.9/umd/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script>
    $('[data-toggle="tooltip"]').tooltip();
</script>
</html>
